/* styles.css */
.root {
    -fx-background-color: #f5f5f5; /* color de fondo general */
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
}

.button:hover {
    -fx-background-color: #2980b9;
}
