    .root {
        -fx-rojo: #C11720;
        -fx-gris: #8E8D8D;
        -fx-grisclaro: #ADADAD;
        -fx-grisosc: #808080;
        -fx-azul: #004E89;
        -fx-celeste: #008AC0;
    }

    .cajacarga {
        -fx-alignment: center;
        -fx-background-color: linear-gradient(to bottom, -fx-gris, -fx-grisosc);
        -fx-background-color: white;
    }

    .textocarga{
        -fx-text-fill: black;
        -fx-font-size: 20px;
        -fx-font-family: "Livvic Regular"
    }

    .barraprogreso {
        -fx-accent: -fx-azul;
        -fx-control-inner-background: transparent;
        -fx-background-radius: 15;
        -fx-border-radius: 15;
    }

    .header {
        -fx-background-color: -fx-grisclaro;
    }

    .fondo {
        -fx-background-color: #ffffff;
    }

    .button:hover {
        -fx-background-color: -fx-grisosc;
    }

    .botonHeader{
        -fx-background-color: -fx-gris;
        -fx-text-fill: #ffffff;
        -fx-font-size: 25px;
        -fx-background-radius: 10px;
        -fx-font-family: "Livvic Regular";
    }

    .titulo{
        -fx-font-size: 30px;
        -fx-font-weight: bold;
        -fx-font-family: "Livvic Black";
        -fx-font-color: #000000;
    }

    .img-cont{
        -fx-alignment: TOP_LEFT;
        -fx-padding: 10px;
    }

    .img-logo {
        -fx-effect: dropshadow(gaussian, #ADADAD, 5, 0.0, 0.0, 1.0);
    }
